<h1>Listing homepages</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @homepages.each do |homepage| %>
      <tr>
        <td><%= homepage.account.nickname || homepage.account.first_name || '???' %></td>
        <td><%= link_to 'Show', account_homepage_path(homepage) %></td>
        <td><%= link_to 'Edit', edit_account_homepage_path(homepage) %></td>
        <td><%= link_to 'Reset', account_homepage_path(homepage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>