<div id="homepage-creator">
  <i>PROUDLY MADE BY <%= homepage_creator %></i>
</div>

<div id="footer" class="footer">
	This awesome Website has been created with <%= link_to 'Foundation', root_path %>, the Homepage Creator!
	<br>
	Create your own <%= link_to 'FREE', new_user_registration_path %> Website!
</div>