#menu-button {
	
	color: #fff;

	border: none;
	outline: none;
	background-color: none;
	background: none;
	margin: none;

	transition: color 0.2s;
	font-size: 1em;
	padding: 0.5em;
}

#menu-button:hover {
	color: #333;
	background-color: #eee;
}

#menu-button-checkbox {
	display: none;
}

#navigation-main ul {
	display: none;
}

#navigation-sidebar {
	transition: 1s all ease;
	display: none;

	position: fixed;

	top: 0;
	left: 100wv;
	right: 0;
	bottom: 0;

	width: 0%;

	color: #999;
	background-color: #fff;

	z-index: 1900;

	overflow: auto;

	max-width: 60em;

	list-style-type: none;

	z-index: 200;
}

#navigation-sidebar h1 {

	padding: 12px 20px;
	padding-bottom: 0px;
	line-height: 1.5;
}

#navigation-sidebar p {
	padding: 0 20px;

}

#navigation-sidebar ul {
	padding: 0;
	margin: 0;

	margin-bottom: 1em;

	list-style: none;
}

#navigation-sidebar ul li {
	white-space: nowrap;
	overflow: hidden;
}

#navigation-sidebar ul li a {

	color: #999;

	display: inline-block;
	font-size: 2em;
	padding-left: 0.8em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	border-bottom: 1px solid #eee;
}

#navigation-sidebar ul li a:hover {
	color: #fff;
	background-color: #724836
}

@media screen and (min-width: 44em) {
	#navigation-sidebar ul li a {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 60em) {
	#navigation-sidebar {
		border-left: 4px solid #eee;
	}
}

@media screen and (min-width: 72em) {
	#menu-button {
		display: none;
	}

	#navigation-main ul {
		display: inline-block;
	}
}