.pure-button-lead {
	color: white !important;
	background-color: #724836 !important;
}

.pure-button-large {
	font-size: 1.5em !important;
}

.pure-button-catch {
	color: white !important;
	background-color: #80BFB7 !important;
}

.l-box {
	padding: 1em;
}

.pure-menu-heading {
	color: #fff !important;
}

#navigation-main {
	position: fixed;
	top: 0;

	z-index: 200;
	font-size: 18px;

	color: white;
	background-color: #000;
}

#navigation-main a {
	color: #fff;
}

#navigation-main a.active {
	background-color: #80BFB7;
}

.pure-menu li a:hover {
	color: #222 !important;
}

.pure-notification {
	position: fixed;
	top: 2;
	left: 0;
	right: 0;

	color: inherit;
	background: #FEFBBE;
	
	padding: 0.5em;
	padding-top: 0.8em;

	margin-top: 0;
	margin-bottom: 2em;
}