<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <%= account.user %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
